.DS_Store
MQF/JSONData/*
MQF/JSONData/available.json
JSONData/*
Pods/*
prebuild.log
prebuild-archive.log
archive-env
post-build.log
Pods/

//Test JSON Data

/./Test JSON Data/

/Test JSON Data

/MQF/Test JSON Data

/MQF/Test JSON Data

/MQF/Test JSON Data/test-c17-Pilot-IP-1nov.json

/MQF/Test JSON Data/test-c17-Pilot-AD-1nov.json
